<div *ngIf="lstProducts === undefined || lstProducts.length < 1 " class="alert alert-info" role="alert">
  Nothing ir.. Come later !
</div>

<div class="card-deck">
  <app-product
    *ngFor="let product of lstProducts"
    [reference]=product.reference
    [name]=product.name
    [price]=product.price
    [discount]=product.discount>
  </app-product>
</div>
