
<div class="shadow p-3 mb-5 bg-white rounded">
<div class="row ">
  <div class="col-sm">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let product of cart.lstProduct; let i = index">
        <span>{{product.name}}</span>
        <span *ngIf="product.discount != null && product.discount.active"><s class="text-danger">{{product.price | number}}$</s></span>
        <span *ngIf="product.discount != null && product.discount.active">{{product.price - product.discount.price | number}}$</span>
        <span *ngIf="product.discount == null || !product.discount.active">{{product.price | number}}$</span>
        <span>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" (click)="removeToCart(product)">
            <i class="material-icons">clear</i>
          </button>
        </span>
      </li>
    </ul>
  </div>

  <div *ngIf="cart.price > 0" class="col-sm">
    
    
    <div *ngIf="cart.discountCode !== null">
      <p>
        <span>Price : {{cart.price | number}}$</span> 
        <span class="text-danger"> -  {{cart.discountCode.price | number}}$ with the {{cart.discountCode.code}} code !</span>
      </p>
      <p>Total price : {{cart.totalPrice | number}} $</p>
    </div>

    <div *ngIf="cart.discountCode == null">
        <p>Total price : {{cart.totalPrice | number}} $</p>
      </div>

    <div>
        <form (ngSubmit)="findDiscountCode(f)" #f="ngForm">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Discount Code</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Discount Code" name="discountCode" ngModel>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Add</button>
              </div>
            </div>
          </form>

        </div>
    <p>
      <button type="button" class="btn btn-primary btnWidth100" (click)="buy()">Buy</button>
    </p>
  </div>
</div>

<div *ngIf="cart.lstProduct.length < 1" class="alert alert-info" role="alert">
  Nothing ir.. Add something to your cart !
</div>

<div *ngIf="alert==true" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Congratulation guy !</strong> It's good for me. Come back tomorrow. Ahah {{cart.totalPrice}}$ for me..
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>


