<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">

  <a class="navbar-brand" routerLink="home">

    <img src="favicon.ico" width="30" height="30" alt="">
    Myowngoodies
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home/Shooses">Shooses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/Shirt">Shirt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/Dress">Dress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/Trousers">Trousers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/Other">Other</a>
      </li>
    </ul>


      <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" formControlName="searchArg">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    <!--    <form class="form-inline my-2 my-lg-0 ">-->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search a product by ref" aria-label="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->

    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Add a new
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="newproduct">Product</a>
          <a class="dropdown-item" routerLink="newDiscountCode">Discount Code</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="newUser">User</a>
        </div>
      </li>
      <a class="nav-link" routerLink="login">
        <i class="material-icons  globalNavbarIcon">account_circle</i>
      </a>
      <!-- <a class="nav-link" [routerLink]="authStatus ? 'login': 'user'">
        <i class="material-icons  globalNavbarIcon">account_circle</i>
      </a> -->
      <a class="nav-link" routerLink="cart">
        <i class="material-icons text-primary globalNavbarIcon">shopping_cart</i>
        <span class="badge badge-light">{{cartCounter}}</span>
      </a>
    </ul>
  </div>
</nav>
