<div class="shadow p-3 mb-5 bg-white rounded">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Authentification</h3>
  </div>
  <div class="panel-body">
    <form [formGroup]="signupForm" (ngSubmit)="onSignIn()">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email"
               placeholder="amazing@web-atrio.com">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password"
               placeholder="********">
      </div>
      <!--      <button class="btn btn-primary"-->
      <!--              type="submit"-->
      <!--              [disabled]="signupForm.invalid">Créer mon compte</button>-->
      <button class="btn btn-primary btnWidth100"
              type="submit" *ngIf="!authStatus">Connection
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
</div>