<!--<div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--  <strong>We are sorry..</strong> He haven'got any product in this category.-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->


<div *ngIf="lstProducts === undefined || lstProducts.length < 1 " class="alert alert-info" role="alert">
  Nothing ir.. Come later !
</div>


<div class="card-deck">
  <app-product
    *ngFor="let product of lstProducts"
    [reference]=product.reference
    [name]=product.name
    [price]=product.price
    [discount]=product.discount>
  </app-product>
</div>



