<div class="shadow p-3 mb-5 bg-white rounded">
  <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <h1 class="text-center mb-3">Add a new product to Myowngoodies !</h1>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <input type="text" id="name" class="form-control col-sm-9" formControlName="name">
    </div>
    <div class="form-group row">
      <label for="reference" class="col-sm-2 col-form-label">Reference</label>
      <input type="text" id="reference" class="form-control col-sm-9" formControlName="reference">
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <input type="text" id="description" class="form-control col-sm-9" formControlName="description">
    </div>


    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label"> Category: </label>
      <select class="form-control col-sm-9" id="category" formControlName="category">
        <option *ngFor="let category of lstCategory">{{category}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <input type="number" id="price" class="form-control col-sm-9" formControlName="price">
    </div>


    <div formGroupName="discount" class=" card border-info mb-3">

      <div class="card-header mb-1">Discount</div>

      <div class="form-group row">
        <label for="startDate" class="col-sm-2 col-form-label ml-1">Start Date</label>
        <input type="date" id="startDate" class="form-control col-sm-9" formControlName="startDate">
      </div>

      <div class="form-group row">
        <label for="endDate" class="col-sm-2 col-form-label ml-1">End Date</label>
        <input type="date" id="endDate" class="form-control col-sm-9" formControlName="endDate">
      </div>

      <div class="form-group row">
        <label for="discount" class="col-sm-2 col-form-label ml-1">Discount price</label>
        <input type="number" id="discount" class="form-control col-sm-9" formControlName="price">
      </div>

    </div>



    <button type="submit" class="btn btn-primary w-100">Add this product !</button>
  </form>

</div>