<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row ">
    <div class="col-sm">

      <button class="btn btn-danger btnWidth100" (click)="onSignOut()">Disconnect</button>
      
      <p>
        <span>Hey </span><span class="font-weight-bold"> {{authUser.firstName}} {{authUser.lastName}}</span> !
      </p>
      <p class="card-text">Your mail : {{authUser.mail}}</p>

      <p class="card-text">Your phone number : {{authUser.phoneNumber}}</p>
      <p class="card-text">Your bornDate : {{authUser.bornDate | date:'d MMMM yyyy' }}</p>

      <p class="font-italic">Your credits : {{authUser.credits}}</p>

      <p class="font-italic">You live : {{authUser.adress.street}} , {{authUser.adress.city}}, {{authUser.adress.state}}
      </p>



    </div>
  </div>