
<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row ">
    <div class="col-sm">
  <img class="d-block w-100 float-left pull-left mr-2 rounded" src="assets\img\white_chooses-1.jpg" alt="First slide">
    </div>
    <div class="col-sm">
  <p>
    <span>Name :</span><span class="font-weight-bold"> {{currentProduct.name}}</span>
  </p>
  <p class="card-text">Description : {{currentProduct.description}}</p>

  <p class="card-text" *ngIf="currentProduct.discount != null && currentProduct.discount.active">Price :
    <span ><s class="text-danger">{{currentProduct.price | number}}$</s></span>
    <span> {{currentProduct.price - currentProduct.discount.price | number}} $</span>
  </p>

  <p class="card-text" *ngIf="currentProduct.discount == null || !currentProduct.discount.active">Price :
    <span >{{currentProduct.price | number}}$</span>
  </p>

  <p class="font-italic">Reference : {{currentProduct.reference}}</p>
  <p class="font-italic">Category : {{currentProduct.category}}</p>


  <app-add-to-cart-button
    [reference]=currentProduct.reference>
  </app-add-to-cart-button>
    </div>
</div>











