<div class="card mb-2" style="width: 15rem;">

  <div id="carouselIndicators{{reference}}" class="carousel slide" data-ride="carousel">
    <div class="card-body">
      <p class="card-text">{{name}}</p>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" (click)="goToProduct()">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets\img\white_chooses-1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets\img\white_chooses-2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets\img\white_chooses-3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators{{reference}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators{{reference}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="card-body" *ngIf="discount != null && discount.active">
      <!-- <div class="card-body" *ngIf="discount != null && discount.active"> -->
    <span><s class="text-danger">{{price | number}}$</s></span>
    <span>{{price - discount.price | number}}$</span>
  </div>

  <div class="card-body" *ngIf="discount == null || discount.active == false">
    <span>{{price | number}}$</span>
  </div>

  <app-add-to-cart-button
    [reference]=reference>
  </app-add-to-cart-button>
</div>



