/* You can add global styles to this file, and also import other style files */

.btnWidth100{
  width: 100%;
}

.globalNavbarIcon{
  font-size:3rem
}
.globalBackgroundColor{
  background-color: #d4d4d4;
}
