<div class="shadow p-3 mb-5 bg-white rounded">
  <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <h1 class="text-center mb-3">Add a new User to Myowngoodies !</h1>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">firstName</label>
      <input type="text" id="firstName" class="form-control col-sm-9" formControlName="firstName">
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">lastName</label>
      <input type="text" id="lastName" class="form-control col-sm-9" formControlName="lastName">
    </div>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">username</label>
      <input type="text" id="username" class="form-control col-sm-9" formControlName="username">
    </div>
    <div class="form-group row">
      <label for="mail" class="col-sm-2 col-form-label">mail</label>
      <input type="text" id="mail" class="form-control col-sm-9" formControlName="mail">
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">password</label>
      <input type="password" id="password" class="form-control col-sm-9" formControlName="password">
    </div>
    <div class="form-group row">
      <label for="bornDate" class="col-sm-2 col-form-label ml-1">bornDate</label>
      <input type="date" id="bornDate" class="form-control col-sm-9" formControlName="bornDate">
    </div>
    <div class="form-group row">
      <label for="phoneNumber" class="col-sm-2 col-form-label">phoneNumber</label>
      <input type="text" id="phoneNumber" class="form-control col-sm-9" formControlName="phoneNumber">
    </div>


    <div formGroupName="adress" class=" card border-info mb-3">

      <div class="card-header mb-1">Adress</div>

      <div class="form-group row">
        <label for="street" class="col-sm-2 col-form-label">street</label>
        <input type="text" id="street" class="form-control col-sm-9" formControlName="street">
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">city</label>
        <input type="text" id="city" class="form-control col-sm-9" formControlName="city">
      </div>
      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">state</label>
        <input type="text" id="state" class="form-control col-sm-9" formControlName="state">
      </div>

    </div>



    <button type="submit" class="btn btn-primary w-100">Add this user !</button>
  </form>

</div>