<div class="shadow p-3 mb-5 bg-white rounded">
  <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <h1 class="text-center mb-3">Add a new discount code to Myowngoodies !</h1>



    <div class="form-group row">
        <label for="discount" class="col-sm-2 col-form-label ml-1">Code</label>
        <input type="text" id="discount" class="form-control col-sm-9" formControlName="code">
      </div>

    <div class="form-group row">
      <label for="startDate" class="col-sm-2 col-form-label ml-1">Start Date</label>
      <input type="date" id="startDate" class="form-control col-sm-9" formControlName="startDate">
    </div>

    <div class="form-group row">
      <label for="endDate" class="col-sm-2 col-form-label ml-1">End Date</label>
      <input type="date" id="endDate" class="form-control col-sm-9" formControlName="endDate">
    </div>

    <div class="form-group row">
      <label for="discount" class="col-sm-2 col-form-label ml-1">Discount price</label>
      <input type="number" id="discount" class="form-control col-sm-9" formControlName="price">
    </div>



    <button type="submit" class="btn btn-primary w-100">Add this discount code !</button>
  </form>

</div>